

 <ion-header-bar class="bar-header bar-df ">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class=" title bar-logo">
        <img src="img/organo.png">
      </div>
      <buttom class="item-icon-right" class="icon ion-help">
          <i class="icon ion-help"></i>
      </buttom>
    </ion-header-bar>
<ion-content padding="true"  class="no-header hass-footer fondoDash">
  

  <div class="banner-top" style=" background: url(../img/banner-img.png);">
    <h2 class="titulo-banner">Planificar un Panorama nunca fue tan FÁCIL!</h2>
  </div>
  <div class="row  notifica-home">
    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/solicitud';" >
      <div class="col-notifica financia">
        <h3 class="numero">Ruta Panorámica</h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font> Crea tu propio camino de panoramas</p>
      </div>
    </div>
  </div>
  <div class="row  notifica-home">
    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/ofertas';" >
      <div class="col-notifica ofertas">
        <h3 class="numeropanoramasnuevos"> Panoramas!&nbsp;&nbsp;&nbsp;<font color="white">!</font></h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font> Déjate llevar!</p>
      </div>
    </div>
    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/solicitud';">
      <div class="col-notifica  pendientes">
        <h3 class="numeropanoramasnuevos">Nuevos!</h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font> Entérate de todo!</p>
      </div>
    </div>
  </div>
  <div class="row  notifica-home">
    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/pendientes';">
      <div class="col-notifica  lugares">
        <h3 class="numerolugares">Lugares</h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font> Mira tu alrededor</p>
      </div>
      <div class="col-notifica  recomendacion">
        <h3 class="numeropanoramasnuevos">Sugerencias&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font> No te lo pierdas!</p>
      </div>
    </div>

    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/ofertas';" >
      <div class="col-notifica interes">
        <h3 class="numero2">Eventos </h3>
        <h3 class = "numero1">de</h3>
        <h3 class="numero3">Interés </h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font> No los olvides!</p>
      </div>
    </div>
    

  </div>
</ion-content>
