<ion-view title="map">
 <ion-header-bar class="bar-header bar-df ">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class=" title bar-logo">
        <img src="img/organo.png">
      </div>
      <buttom class="item-icon-right" class="icon ion-help">
          <i class="icon ion-help"></i>
      </buttom>
 </ion-header-bar >
<ion-view view-title="mapita">
    <ion-content>
        <div id="map" data-tap-disabled="true" ng-init="init()"  style="height: 600px;"></div>
    </ion-content>
</ion-view>

</ion-view>