<ion-header-bar class="bar-header bar-df ">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class=" title bar-logo">
        <img src="img/organo.png">
      </div>
      <buttom class="item-icon-right" class="icon ion-help">
          <i class="icon ion-help"></i>
      </buttom>
    </ion-header-bar>
    
    <ion-content padding="true"  class="no-header hass-footer fondopreruta">
    <div class = "notifica-home zzz">
  <h1 class = "numeros">¿Cómo deseas crear la Ruta Panorámica?</h1>
 </div>

    <div class="row  notifica-home">
    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/ruta';" >
      <div class="col-notifica preferenciador abc">
        <h3 class="numero">Preferencia Actuales</h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font>Ingresadas en tu registro</p>
      </div>
    </div>
  </div>

  <div class ="tamano qwer">
    <img src="img/planorama1.png">
  </div>
 

  <div class="row  notifica-home">
    <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/prueba1';" >
      <div class="col-notifica preferenciador abcd">
        <h3 class="numero">Nuevas Preferencias</h3>
        <p class="notifica-titulo"><font color="orange"><b>></b></font>Actualiza tus gustos</p>
      </div>
    </div>
  </div>
</ion-content>