<ion-view title="Sugerencias">
 <ion-header-bar class="bar-header bar-df ">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class=" title bar-logo">
        <img src="img/organo.png">
      </div>
      <buttom class="item-icon-right" class="icon ion-help">
          <i class="icon ion-help"></i>
      </buttom>
 </ion-header-bar >

<ion-content >
<div class="list card chao">

  <div class="itemo item-avatar">
    <img src="img/robin.png">
    <h2><b> Parque Araucano&nbsp;<font size = "2 px" color = "E3B134"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star-outline"></i></font></b></h2>
    <p>Robinson Oyarzún ... hace 5 horas</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/parque.png">
    <p>
      "Excelente parque para vivir la naturaleza dentro de la ciudad, muy limpio y con grandes áreas verdes. Es una muy buena opción para disfrutar en familia, posee gran accesibilidad."
    </p>
  </div>
  <div class="item item-cardfooter">
    <i class="icon ion-thumbsup"> 6 Like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i> <i class="icon ion-chatboxes"> 2 Comentarios </i>
  </div>

  
</div>

<br>

<div class="list card chao">

  <div class="itemo item-avatar">
    <img src="img/jonas.png">
    <h2><b> Zoológico Nacional&nbsp;<font size = "2 px" color = "E3B134"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star-outline"></i><i class="icon ion-android-star-outline"></i></font></b></h2>
    <p>Jonás Astudillo ... hace 3 días</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/zoo.jpg">
    <p>
      "Experiencia diferente y entretenida, con gran variedad de animales. En temporada alta hay demasiada gente y presenta un sólo baño, aún asi es buena opción para pasear."
    </p>
  </div>
  <div class="item item-cardfooter">
    <i class="icon ion-thumbsup"> 15 Like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i> <i class="icon ion-chatboxes"> 30 Comentarios </i>
  </div>

  
</div>

<br>

<div class="list card chao">

  <div class="itemo item-avatar">
    <img src="img/yo.png">
    <h2><b> La Gloria&nbsp;<font size = "2 px" color = "E3B134"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i></font></b></h2>
    <p>Camilo Torres ... hace 5 días</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/gloria.jpg">
    <p>
      "Sandwichs peruanos al mejor nivel, sabor único e inigualable, buena atención, sector céntrico y de fácil acceso. Experiencia recomendada 100%."
    </p>
  </div>
  <div class="item item-cardfooter">
    <i class="icon ion-thumbsup"> 126 Like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i> <i class="icon ion-chatboxes"> 46 Comentarios </i>
  </div>

  
</div>


<br>

<div class="list card chao">

  <div class="itemo item-avatar">
    <img src="img/pablo.jpg">
    <h2><b> Sky Costanera&nbsp;<font size = "2 px" color = "E3B134"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star-half"></i><i class="icon ion-android-star-outline"></i></font></b></h2>
    <p>Pablo Reyes ... hace 8 días</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/costanera.jpg">
    <p>
      "Buen lugar para ver Santiago desde lo más alto, aunque el valor de la entrada es un poco elevado. Recomiendo ir en días donde no haya tanta contaminación."
    </p>
  </div>
  <div class="item item-cardfooter">
    <i class="icon ion-thumbsup"> 10 Like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i> <i class="icon ion-chatboxes"> 2 Comentarios </i>
  </div>

  
</div>
<br>
<div class="list card chao">

  <div class="itemo item-avatar">
    <img src="img/alfonso.jpg">
    <h2><b>Barrio Lastarria&nbsp;<font size = "2 px" color = "E3B134"><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star"></i><i class="icon ion-android-star-half"></i></font></b></h2>
    <p>Alfonso Guzmán ... hace 10 días</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/lastarria.jpg">
    <p>
      "Muy buen lugar para conocer, ambiente grato y único, música a la interperie y gran variedad cultural. Abanicos de opciones donde comer. Recomendado!"
    </p>
  </div>
  <div class="item item-cardfooter">
    <i class="icon ion-thumbsup"> 198 Like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </i> <i class="icon ion-chatboxes"> 26 Comentarios </i>
  </div>

  
</div>



 </ion-content>

</ion-view>