
<ion-side-menus>
  
  <ion-side-menu side="left" >

    <ion-header-bar class="bar-stable" >

      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/tab/home">
          <i class="icon ion-android-home" ></i>Inicio
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/tab/solicitud">
          <i class="icon ion-android-map"></i>Ruta Panorámica
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/tab/ofertas">
          <i class="icon ion-android-happy"></i>Todos los Panoramas
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/tab/ofertas">
          <i class="icon ion-android-pin"></i>Lugares Cercanos
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/tab/pendientes">
          <i class="icon ion-android-alarm-clock"></i>Panoramas Nuevos
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-ios-heart"></i>Panoramas Guardados
        </ion-item>
         <ion-item class="item-icon-left">
          <i class="icon ion-thumbsup"></i>Recomendados
        </ion-item>
        <ion-item>             
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-gear-a"></i>Configuracion
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-help"></i> Ayuda
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-mail"></i>Contacto
        </ion-item>
        <ion-item class="item-icon-left" ng-click="logout()">
          <i class="icon ion-android-exit"></i>Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    </ion-header-bar>
    <ion-tabs class="tabs-icon-top tab-df">
      <ion-tab title="Nuevos" icon-off="ion-android-bulb" icon-on="ion-android-bulb" href="#/tab/solicitud">
        <ion-nav-view name="solicitud-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Cercanos" icon-off="ion-android-pin" icon-on="ion-android-pin" href="#/tab/cercanos">
        <ion-nav-view name="cercanos-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Panoramas" icon-on="ion-android-happy" icon-off="ion-android-happy" href="#/tab/panoramas">
        <ion-nav-view name="panoramas-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Inicio" icon-on="ion-ios-home" icon-off="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Ruta" class="{{signer()}}" icon-on="ion-android-map" icon-off="ion-android-map" href="#/tab/preruta">
        <ion-nav-view name="preruta-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Sugerencias"  icon-on="ion-thumbsup" icon-off="ion-thumbsup" href="#/tab/sugerencias">
        <ion-nav-view name="sugerencias-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Guardados" icon="ion-ios-heart" href="#/tab/ofertas">
      <ion-nav-view name="ofertas-tab"></ion-nav-view>
    </ion-tab>

    </ion-tabs>
  </ion-side-menu-content>
</ion-side-menus>